<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>UpdateEmployeeAccount</servlet-name>
    <servlet-class>UpdateEmployeeAccount</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PersonalInfoOutput</servlet-name>
    <servlet-class>PersonalInfoOutput</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewPassword</servlet-name>
    <servlet-class>NewPassword</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManageEmployeeRedirect</servlet-name>
    <servlet-class>ManageEmployeeRedirect</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewEmployeeAccount</servlet-name>
    <servlet-class>NewEmployeeAccount</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewEmployeeInfo</servlet-name>
    <servlet-class>ViewEmployeeInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TimeSheetDB</servlet-name>
    <servlet-class>TimeSheetDB</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Expenses</servlet-name>
    <servlet-class>Expenses</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewEmployeeExpenseClaim</servlet-name>
    <servlet-class>ViewEmployeeExpenseClaim</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PayrollItemsRedirect</servlet-name>
    <servlet-class>PayrollItemsRedirect</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewPayrollItems</servlet-name>
    <servlet-class>ViewPayrollItems</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddPayrollItem</servlet-name>
    <servlet-class>AddPayrollItem</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemovePayrollItem</servlet-name>
    <servlet-class>RemovePayrollItem</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TaxInfoRedirect</servlet-name>
    <servlet-class>TaxInfoRedirect</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewTaxInfo</servlet-name>
    <servlet-class>ViewTaxInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddTax</servlet-name>
    <servlet-class>AddTax</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoveTax</servlet-name>
    <servlet-class>RemoveTax</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewNonAdminExpenseClaim</servlet-name>
    <servlet-class>ViewNonAdminExpenseClaim</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PayrollRun</servlet-name>
    <servlet-class>PayrollRun</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PayslipAdmin</servlet-name>
    <servlet-class>PayslipAdmin</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>GenerateReports</servlet-name>
    <servlet-class>GenerateReports</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeAccount</servlet-name>
    <url-pattern>/UpdateEmployeeAccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonalInfoOutput</servlet-name>
    <url-pattern>/PersonalInfoOutput</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewPassword</servlet-name>
    <url-pattern>/NewPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageEmployeeRedirect</servlet-name>
    <url-pattern>/ManageEmployeeRedirect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewEmployeeAccount</servlet-name>
    <url-pattern>/NewEmployeeAccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewEmployeeInfo</servlet-name>
    <url-pattern>/ViewEmployeeInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TimeSheetDB</servlet-name>
    <url-pattern>/TimeSheetDB</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Expenses</servlet-name>
    <url-pattern>/Expenses</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewEmployeeExpenseClaim</servlet-name>
    <url-pattern>/ViewEmployeeExpenseClaim</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PayrollItemsRedirect</servlet-name>
    <url-pattern>/PayrollItemsRedirect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewPayrollItems</servlet-name>
    <url-pattern>/ViewPayrollItems</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddPayrollItem</servlet-name>
    <url-pattern>/AddPayrollItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemovePayrollItem</servlet-name>
    <url-pattern>/RemovePayrollItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaxInfoRedirect</servlet-name>
    <url-pattern>/TaxInfoRedirect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewTaxInfo</servlet-name>
    <url-pattern>/ViewTaxInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddTax</servlet-name>
    <url-pattern>/AddTax</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveTax</servlet-name>
    <url-pattern>/RemoveTax</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewNonAdminExpenseClaim</servlet-name>
    <url-pattern>/ViewNonAdminExpenseClaim</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PayrollRun</servlet-name>
    <url-pattern>/PayrollRun</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PayslipAdmin</servlet-name>
    <url-pattern>/PayslipAdmin</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>GenerateReports</servlet-name>
    <url-pattern>/GenerateReports</url-pattern>
  </servlet-mapping>
</web-app>